:root {
  font-family: 'Roboto', system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background: #ededed;
  --foreground: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --custom-grey0: #C5C5C5;
  --custom-grey1: #A2A2A2;
  --custom-accent: #000c4e;
  --custom-accent-light: #0555af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-grey0 {
  background-color: var(--custom-grey0);
}

.bg-grey1 {
  background-color: var(--custom-grey1);
}

.bg-accent {
  background-color: var(--custom-accent);
}

.bg-accent-light {
  background-color: var(--custom-accent-light);
}

/* Texts classes */

.text-grey0 {
  color: var(--custom-grey0);
}

.text-grey1 {
  color: var(--custom-grey1);
}

.text-accent {
  color: var(--custom-accent);
}

.text-accent-light {
  color: var(--custom-accent-light);
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.logo-sm {
  max-width: 7rem;
  margin: 1rem;
  image-rendering: optimizeQuality;
  max-height: fit-content;
}

.logo-md {
  max-width: 10rem;
  margin: 1rem;
  image-rendering: optimizeQuality;
  max-height: fit-content;
}
